
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class = "error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages  %>
          <li><%= message %></li>
        <% end %>  
      </ul>
    </div>
  <% end %>

  <div class= "field">
    <%= f.label :username %><br>
    <%= f.text_field :name %>
  </div>
  <div class= "field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class= "field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class= "field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class= "field">
    <%= f.label :first %><br>
    <%= f.text_field :first %>
  </div>
  <div class= "field">
    <%= f.label :last %><br>
    <%= f.text_field :last %>
  </div>
  <div class= "field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class= "field">
    <%= f.label :avatar_url %><br>
    <%= f.text_field :avatar_url %>
  </div>
  <div class= "field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>



  <div class="actions"><%= f.submit %></div>
  
<% end %>


















