<%= form_for @product do |f| %>



	<% if @product.errors.any? %>
		<div id = "error_explanation">
			<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>	
			<ul>
				<%  @product.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

  
	<div class = "field">
		<%= f.label :name  %><br>
		<%= f.text_field :name %>
	</div>
  <div class = "field ">
		<%= f.label :category %><br>
		<%= collection_select(:product, :category_id, Category.all, :id, :category_name) %>
	</div>
	<div class = "field ">
		<%= f.label :price_in_cents %><br>
		<%= f.number_field :price_in_cents %>
	</div>
	<div class = "field">
		<%= f.label :description %><br>
		<%= f.text_area :description, :class => "t_area"  %>
	</div>
	
	<div>
		<%#= fields_for :tags do |tf|%>

			<%= label_tag :Tags %><br>
			<%= text_area_tag :tag_list %><br>
			Add tags such as:  
			<% Tag.all.each  do |tag| %>
			<%= tag.descriptor + ", "  %>
		<% end %>
			
	</div> 


	
	<br>
	<div class = "actions">
		<%= f.submit %>
	</div>

<% end %>

