
<div class = "nav">
	<ul>
		<li><%= link_to "Add a Product", new_product_path %></li>
	<ul>
	<br>
</div>

<h1>Products</h1>
 
<% @products.each do |product| %>

	<div class = 'index_display'>
		<p class="info">
			Product: <%= link_to product.name, product_path(product) %>
			<br>  
			Price: <%= number_to_currency(product.price) %>
			<br>
			Category: <%= product.category[:category_name] if product.category  %>
			<br>
			Description: 
			<%= product[:description] %>
		</p>
		<div class = "photo">
		</div>
	</div>

	<br>	
<% end %>	