<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>
<div class = "nav">
	<ul>
		<li><%= link_to 'All Products', products_path %> </li>
		<li><%= link_to "Edit", "/products/#{@product.id}/edit" %> </li>
		<li><%= link_to 'Delete', @picture, :confirm => "Are you sure you want to delete this product?", :method => :delete  %> </li>
	</ul>
	<br> 
		
<div class = 'show_display'>
		Product: <%= @product[:name] %>
		<br>  
		Price: <%= number_to_currency(@product.price) %>
		<br>
		Description: 
		<%= @product[:description] %>
	</div>

	